@model waterprj.Models.Estimation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estimation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsesDishwasher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsesDishwasher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaundryFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaundryFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowerDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowerDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeakDetection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeakDetection)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
