@model waterprj.Models.Estimation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estimation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsesDishwasher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsesDishwasher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaundryFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaundryFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowerDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowerDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeakDetection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeakDetection)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
